<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- configura la factura de spring para construir objetos de FacturaIva -->
	<!-- <bean id="estudiante1" -->
	<!-- class="udb.net.mod1.regacad.spring.EstudianteCep" /> -->
	<!-- <bean id="estudiante2" -->
	<!-- class="udb.net.mod1.regacad.spring.EstudianteColp" /> -->
	<bean id="estudiante1"
		class="udb.net.mod1.regacad.spring.EstudianteCep">
		<property name="nombre" value="carlos" />
		<property name="apellido" value="rosales" />
		<property name="cum" value="8.21" />
		<property name="cuotaMensual" value="65.00" />
	</bean>
	<bean id="estudiante2"
		class="udb.net.mod1.regacad.spring.EstudianteColp">
		<property name="nombre" value="jose" />
		<property name="apellido" value="perez" />
		<property name="cum" value="9.21" />
		<property name="cuotaMensual" value="75.00" />
	</bean>
</beans>